:root {
    --orange: #F99123;
    --white: #fbf5dd;
    --black: #0C0E0F;
    --cream: #F8EECC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--orange);
}

nav {
    width: 99vw;
    position: fixed;
    top: 0;
    backdrop-filter: blur(5px);
}

nav .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 100px;
}

.nav1 {
    display: flex;
    cursor: pointer;
    font-family: cursive;
}

.website-logo {
    display: flex;
    align-items: center;
}

.nav2 {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav2 h3 a {
    text-decoration: none;
    color: var(--black);
}

.nav2 h3 a:hover {
    color: var(--white);
}

.menu-icon {
    display: none;
}

main {
    width: 100vw;
}

.section1-home {
    display: flex;
    padding: 130px;
}

.section1-home .left {
    width: 60%;
    padding: 70px;
}

.section1-home .left .title {
    font-size: 4rem;
    padding-bottom: 15px;
}

.section1-home .left .highlight {
    color: var(--white);
}

.section1-home .left p {
    font-size: 1.2rem;
    padding-bottom: 30px;
}

.expolre-btn {
    padding: 10px 20px;
    border: none;
    background-color: var(--black);
    color: var(--white);
    border-radius: 7px;
    font-weight: 700;
    cursor: pointer;
}

.section1-home .right {
    width: 40%;
    display: flex;
    align-items: center;
}

.section1-home .right img {
    height: 85%;
    width: 90%;
}

.section2-aboutus {
    display: flex;
    padding: 140px;
}

.section2-aboutus .left {
    width: 40%;
}

.section2-aboutus .left img {
    height: 90%;
    width: 95%;
}

.section2-aboutus .right {
    width: 60%;
    padding: 50px;
}

.section2-aboutus .right h3 {
    color: var(--white);
    font-size: 1.8rem;
}

.section2-aboutus .right h2 {
    font-size: 2.8rem;
    padding-bottom: 25px;
}

.section2-aboutus .right p {
    font-size: 1.2rem;
    padding-bottom: 50px;
}

.order-btn {
    padding: 10px 23px;
    border: none;
    background-color: var(--black);
    color: var(--white);
    border-radius: 7px;
    font-weight: 700;
    cursor: pointer;
}

.section3-orders {
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.order-title {
    font-size: 2.7rem;
    padding-top: 100px;
    padding-bottom: 60px;
}

.order-title .highlight {
    color: var(--orange);
}

.order1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    border-radius: 10px;
    border: 2px solid var(--black);
    width: 60%;
}

.order1 img {
    width: 30%;
}

.order1-description, .order2-description {
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.order1-description .container, .order2-description .container {
    height: 200px;
    background-color: var(--orange);
    display: flex;
    flex-direction: column;
    justify-content: center;  
    padding: 20px; 
    border-radius: 10px;
}

.order1-description h4, .order2-description h4 {
    font-size: 2rem;
    color: var(--white);
}

.order1-description p, .order2-description p {
    font-size: 1.3rem;
    padding-bottom: 15px;
}

.order1-price, .order2-price {
    display: flex;
    gap: 10px;
}

.order1-price span, .order2-price span {
    font-size: 2rem;
    font-weight: 900;
}

.order1-price .icon, .order2-price .icon {
    width: 20%;
    border-radius: 5px;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.order1-price .icon i, .order2-price .icon i {
    font-size: 1.5rem;
    color: var(--orange);
}

.order2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    border-radius: 10px;
    border: 2px solid var(--black);
    margin-top: 50px;
    width: 60%;
}

.order2 img {
    width: 50%;
}

.section4-combo {
    padding: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section4-combo h2 {
    font-size: 5rem;
    text-align: center;
}

.section4-combo .highlight {
    color: var(--cream);
}

.combo-img-container {
    width: 70%;
    margin-top: 40px;
}

.combo-img-container img {
    width: 100%;
}

.product-description {
    display: flex;
    gap: 3px;
}

.product-description .title {
    padding: 20px;
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.product-description .title .highlight {
    color: var(--black);
    font-weight: 900;
    font-size: 1.4rem;
}

.product-description .price {
    padding: 20px;
    background-color: var(--black);
    color: var(--orange);
    font-size: 2rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.section5-contact {
    background-color: var(--cream);
    padding: 150px 100px;
    display: flex;
    justify-content: center;
}

.contact-container {
    display: flex;
    width: 80%;
    height: 250px;
}

.contact-container .left, .contact-container .right {
    width: 50%;
}

.contact-container .left .highlight {
    font-size: 4.5rem;
    color: var(--orange);
}

.contact-container .left h2 {
    font-size: 3.9rem;
}

.contact-container .right {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
}

.contact-container .right .line {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contact-container .right .line .title {
    font-size: 1.5rem;
    font-weight: 900;
    padding-bottom: 7px;
}

.contact-container .right .line .title1 {
    margin-bottom: 4px;
}

.contact-icons {
    color: var(--orange);
}

#icon {
    font-size: 1.4rem;
}

#icon:hover {
    font-size: 1.8rem;
    cursor: pointer;
}

.contact-container .right .line span {
    font-size: 0.9rem;
}

footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    padding: 80px 50px;
    text-align: center;
}

.footer-logo-container {
    display: flex;
}

.footer-logo-container img {
    width: 30px;
    height: 30px;
}

footer p {
    font-size: 0.9rem;
    font-weight: 800;
}

footer .title {
    font-size: 1.3rem;
    padding-bottom: 7px;
}

.footer-icons {
    display: flex;
    gap: 7px;
    font-size: 1.1rem;
}

.footer-card-img-box {
    width: 23%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    white-space: nowrap;
}

.footer-cards {
    display: flex;
    justify-content: center;
    gap: 4px;
    width: 100%;
}

.footer-cards .footer-card {
    width: 10%;
}

.footer-cards .footer-card img {
    width: 100%;
}

.subscribe-box input {
    padding: 9px 50px 9px 15px;
    background-color: var(--cream);
    border: none;
    border-radius: 5px;
}

.subscribe-box button {
    padding: 9px 18px;
    background-color: var(--black);
    color: var(--white);
    border: none;
    border-radius: 5px;
}

@media (max-width: 1220px) {
    .section1-home, .section2-aboutus {
        padding: 100px;
    }

    .section1-home .left .title {
        font-size: 3.5rem;
        padding-bottom: 13px;
    }

    .section1-home .left p {
        font-size: 1.1rem;
        padding-bottom: 25px;
    }

    .section3-orders {
        padding: 80px;
    }

    .order-title {
        font-size: 2.9rem;
        padding-top: 100px;
        padding-bottom: 60px;
    }

    .order1 {
        padding: 70px;
        width: 80%;
    }

    .order2 {
        width: 80%;
    }

    .section4-combo {
        padding: 150px;
    }

    .section4-combo h2 {
        font-size: 4.5rem;
    }

    .combo-img-container {
        width: 80%;
        margin-top: 30px;
    }

    .contact-container .left h2 {
        font-size: 3.1rem;
    }

    .contact-container .right .line .title {
        font-size: 1.3rem;
    }

    .contact-container .right .line span {
        font-size: 0.8rem;
    }

    #icon {
        font-size: 1.2rem;
    }

    #icon:hover {
        font-size: 1.6rem;
    }

    .footer-cards .footer-card {
        width: 13%;
    }
}

@media (max-width: 1040px) {
    .section1-home {
        padding: 90px;
    }

    .section1-home .left .title {
        font-size: 3.2rem;
    }

    .order1 {
        padding: 50px 0;
        width: 85%;
    }

    .order2 {
        width: 85%;
    }

    .contact-container .left h2 {
        font-size: 4.7vw;
    }

    .contact-container .left .highlight {
        font-size: 5.5vw;
    }
}

@media (max-width: 1000px) {
    .nav2-items {
        display: none;
    }
    .menu-icon {
        display: block;
        font-weight: 800;
        font-size: 1.7rem;
    }

    .section1-home {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section1-home .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }

    .section1-home .left .title {
        font-size: 7vw;
    }

    .section1-home .left p {
        font-size: 1rem;
        padding-bottom: 25px;
    }

    .expolre-btn {
        padding: 20px;
    }

    .section1-home .right {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .section1-home .right img {
        height: 80%;
        width: 80%;
    }

    .section2-aboutus {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .section2-aboutus .left {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .section2-aboutus .left img {
        width: 85%;
        height: 85%;
    }

    .section2-aboutus .right {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }

    .section2-aboutus .right p {
        padding-bottom: 20px;
    }

    .order-btn {
        padding: 20px;
    }

    .section3-orders {
        padding: 60px 60px 200px 60px;
    }

    .order-title {
        font-size: 6vw;
        white-space: nowrap;
    }

    .order1 {
        padding: 50px;
        width: 90%;
    }

    .order2 {
        width: 90%;
    }

    .section4-combo {
        padding: 120px 100px 120px 100px;
    }

    .section4-combo h2 {
        font-size: 5rem;
    }

    .combo-img-container {
        width: 90%;
    }

    .product-description .title, .product-description .price {
        padding: 15px;
    }

    .product-description .title {
        font-size: 0.9rem;
    }

    .product-description .title .highlight {
        font-size: 1.25rem;
    }

    .product-description .price {
        font-size: 1.5rem;
    }

    .section5-contact {
        padding: 100px 70px;
    }

    .contact-container {
        flex-direction: column;
        width: 80%;
        height: 600px;
        gap: 50px;
    }

    .contact-container .left, .contact-container .right {
        width: 100%;
    }

    .contact-container .left h2 {
        font-size: 4.5vw;
    }

    .contact-container .left .highlight {
        font-size: 5.2vw;
    }

    .contact-container .right {
        grid-template-columns: 1fr ;
        grid-template-rows: repeat(4, 1fr);
        gap: 30px;
    }

    .contact-container .right .line .title {
        font-size: 1.5rem;
    }

    .contact-container .right .line span {
        font-size: 0.9rem;
    }

    #icon {
        font-size: 1.3rem;
    }

    #icon:hover {
        font-size: 1.7rem;
    }

    footer {
        justify-content: space-around;
        padding: 60px 30px;
    }

    .footer-logo-container img {
        width: 20px;
        height: 20px;
    }

    footer p {
        font-size: 0.6rem;
    }

    footer .title {
        font-size: 1.1rem;
    }

    .footer-icons {
        font-size: 1rem;
    }

    .footer-card-img-box {
        width: 20%;
    }

    .footer-cards {
        display: flex;
        gap: 4px;
        width: 100%;
    }

    .footer-cards .footer-card {
        width: 16%;
    }

    .footer-cards .footer-card img {
        width: 100%;
    }

    .subscribe-box input {
        padding: 9px 20px 9px 15px;
    }

    .subscribe-box button {
        padding: 9px 10px;
    }
}

@media (max-width: 805px) {
    nav .header {
        padding: 10px 40px 10px 30px;
    }

    .menu-icon {
        font-size: 1.8rem;
    }

    .section1-home .left {
        padding: 20px;
        text-align: center;
    }

    .section2-aboutus .right {
        padding: 20px;
        text-align: center;
    }

    .section3-orders {
        padding: 40px 40px 220px 40px;
    }

    .order-title {
        font-size: 5.5vw;
        white-space: nowrap;
    }

    .order1 {
        padding: 20px 0;
        width: 98%;
    }

    .order2 {
        padding: 0;
        width: 98%;
    }

    .order1-description .container, .order2-description .container {
        height: 150px; 
        padding: 10px; 
    }

    .order1-description h4, .order2-description h4 {
        font-size: 1.5rem;
    }

    .order1-description p, .order2-description p {
        font-size: 1.1rem;
        padding-bottom: 10px;
    }

    .order1-price span, .order2-price span {
        font-size: 1.5rem;
    }

    .order1-price .icon i, .order2-price .icon i {
        font-size: 1.2rem;
    }

    .section4-combo {
        padding: 120px 70px 120px 70px;
    }

    .section4-combo h2 {
        font-size: 9vw;
    }

    .product-description .title, .product-description .price {
        padding: 12px;
    }

    .product-description .title {
        font-size: 0.8rem;
    }

    .product-description .title .highlight {
        font-size: 1.2rem;
    }

    .product-description .price {
        font-size: 1.4rem;
    }

    .combo-img-container {
        width: 95%;
    }

    .contact-container {
        width: 90%;
        height: 620px;
        gap: 50px;
    }

    .contact-container .left h2 {
        font-size: 3.4rem;
    }

    .contact-container .left .highlight {
        font-size: 4rem;
    }

    .contact-container .right {
        gap: 35px;
    }

    .contact-container .right .line .title {
        font-size: 1.3rem;
    }

    .contact-container .right .line span {
        font-size: 0.8rem;
    }

    #icon {
        font-size: 1.2rem;
    }

    #icon:hover {
        font-size: 1.6rem;
    }

    footer {
        flex-direction: column;
    }

    .footer-logo-container img {
        width: 30px;
        height: 30px;
    }

    footer p {
        font-size: 0.8rem;
    }

    footer .title {
        font-size: 1.4rem;
    }

    .footer-icons {
        font-size: 1.2rem;
    }

    .footer-card-img-box {
        width: 50%;
    }

    .footer-cards .footer-card {
        width: 10%;
    }
}

@media (max-width: 700px) {
    .section1-home, .section2-aboutus {
        padding: 70px;
    }

    .section1-home .left .title {
        font-size: 10vw;
    }

    .section1-home .left p {
        font-size: 0.9rem;
        padding-bottom: 17px;
    }

    .expolre-btn, .order-btn {
        padding: 17px;
    }

    .section1-home .right img {
        height: 90%;
        width: 90%;
    }

    .section1-home .right, .section2-aboutus .left {
        padding-bottom: 120px;
    }

    .section2-aboutus .left img {
        height: 90%;
        width: 90%;
    }

    .section2-aboutus .right h3 {
        font-size: 4.5vw;
    }

    .section2-aboutus .right h2 {
        font-size: 7vw;
        padding-bottom: 10px;
    }

    .section2-aboutus .right p {
        font-size: 0.85rem;
        padding-bottom: 15px;
    }

    .section3-orders {
        padding: 30px 30px 220px 30px;
    }

    .order1 {
        width: 99%;
    }

    .order1 img, .order2 img {
        width: 40%;
    }

    .order2 {
        padding: 20px 0;
        width: 99%;
    }

    .order-title {
        font-size: 2.5rem;
    }

    .order1-description .container, .order2-description .container {
        height: 120px; 
    }

    .order1-description h4, .order2-description h4 {
        font-size: 1.2rem;
    }

    .order1-description p, .order2-description p {
        font-size: 1rem;
    }

    .order1-price span, .order2-price span {
        font-size: 1.2rem;
    }

    .order1-price .icon i, .order2-price .icon i {
        font-size: 1rem;
    }

    .section4-combo {
        padding: 160px 40px;
    }

    .section4-combo h2 {
        font-size: 11vw;
    }

    .combo-img-container {
        width: 98%;
    }

    .contact-container .left h2 {
        font-size: 3rem;
    }

    .contact-container .left .highlight {
        font-size: 3.4rem;
    }

    .contact-container {
        width: 100%;
        height: 710px;
    }

    .footer-cards .footer-card {
        width: 11%;
    }
}

@media (max-width: 600px) {
    main {
        padding-top: 50px;
    }

    .section1-home, .section2-aboutus {
        padding: 20px;
        padding-bottom: 70px;
    }

    .section1-home .left .title {
        font-size: 13vw;
    }

    .section1-home .left p {
        font-size: 0.85rem;
    }

    .expolre-btn, .order-btn {
        padding: 15px;
    }

    .section2-aboutus .right h3 {
        font-size: 1.4rem;
    }

    .section2-aboutus .right h2 {
        font-size: 10vw;
    }

    .section3-orders {
        padding: 20px 20px 210px 20px;
    }

    .order-title {
        font-size: 6vw;
    }

    .order1-description .container, .order2-description .container {
        height: 110px; 
    }

    .order1-description h4, .order2-description h4 {
        font-size: 1rem;
    }

    .order1-description p, .order2-description p {
        font-size: 0.8rem;
    }

    .section4-combo {
        padding: 190px 15px;
    }

    .section4-combo h2 {
        font-size: 3.4rem;
    }

    .product-description .title, .product-description .price {
        padding: 14px;
    }

    .product-description .title {
        font-size: 0.7rem;
    }

    .product-description .title .highlight {
        font-size: 1rem;
    }

    .product-description .price {
        font-size: 1rem;
    }

    .contact-container .left h2 {
        font-size: 2.5rem;
    }

    .contact-container .left .highlight {
        font-size: 3rem;
    }
}

@media (max-width: 500px) {
    .footer-cards .footer-card {
        width: 15%;
    }
}

@media (max-width: 400px) {
    .footer-cards .footer-card {
        width: 17%;
    }
}

