:root {
    --orange: #F99123;
    --white: #fbf5dd;
    --black: #0C0E0F;
    --cream: #F8EECC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    background-color: var(--orange);
}

nav {
    width: 100vw;
}

nav .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 100px;
}

.nav1 {
    display: flex;
    cursor: pointer;
    font-family: cursive;
}

.website-logo {
    display: flex;
    align-items: center;
}

.nav2 {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav2 h3 a {
    text-decoration: none;
    color: var(--black);
}

.nav2 h3 a:hover {
    color: var(--white);
}

.menu-icon {
    display: none;
}

@media (max-width: 1000px) {
    .nav2-items {
        display: none;
    }
    .menu-icon {
        display: block;
        font-weight: 800;
        font-size: 1.7rem;
    }
}

@media (max-width: 800px) {
    nav .header {
        padding: 10px 40px 10px 30px;
    }
    .menu-icon {
        font-size: 1.8rem;
    }
}
