:root {
    --orange: #F99123;
    --white: #fbf5dd;
    --black: #0C0E0F;
    --cream: #F8EECC;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-color: var(--orange);
}

nav {
    width: 99vw;
    position: fixed;
    top: 0;
    backdrop-filter: blur(5px);
}

nav .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 100px;
}

.nav1 {
    display: flex;
    cursor: pointer;
    font-family: cursive;
}

.website-logo {
    display: flex;
    align-items: center;
}

.nav2 {
    display: flex;
    align-items: center;
    gap: 60px;
}

.nav2 h3 a {
    text-decoration: none;
    color: var(--black);
}

.nav2 h3 a:hover {
    color: var(--white);
}

.menu-icon {
    display: none;
}

main {
    width: 100vw;
}

.section1-home {
    display: flex;
    padding: 130px;
}

.section1-home .left {
    width: 60%;
    padding: 70px;
}

.section1-home .left .title {
    font-size: 4rem;
    padding-bottom: 15px;
}

.section1-home .left .highlight {
    color: var(--white);
}

.section1-home .left p {
    font-size: 1.2rem;
    padding-bottom: 30px;
}

.expolre-btn {
    padding: 10px 20px;
    border: none;
    background-color: var(--black);
    color: var(--white);
    border-radius: 7px;
    font-weight: 700;
    cursor: pointer;
}

.section1-home .right {
    width: 40%;
    display: flex;
    align-items: center;
}

.section1-home .right img {
    height: 85%;
    width: 90%;
}

.section2-aboutus {
    display: flex;
    padding: 140px;
}

.section2-aboutus .left {
    width: 40%;
}

.section2-aboutus .left img {
    height: 90%;
    width: 95%;
}

.section2-aboutus .right {
    width: 60%;
    padding: 50px;
}

.section2-aboutus .right h3 {
    color: var(--white);
    font-size: 1.8rem;
}

.section2-aboutus .right h2 {
    font-size: 2.8rem;
    padding-bottom: 25px;
}

.section2-aboutus .right p {
    font-size: 1.2rem;
    padding-bottom: 50px;
}

.order-btn {
    padding: 10px 23px;
    border: none;
    background-color: var(--black);
    color: var(--white);
    border-radius: 7px;
    font-weight: 700;
    cursor: pointer;
}

.section3-orders {
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
}

.order-title {
    font-size: 2.7rem;
    padding-top: 100px;
    padding-bottom: 60px;
}

.order-title .highlight {
    color: var(--orange);
}

.order1 {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 50px;
    border-radius: 10px;
    border: 2px solid var(--black);
    width: 60%;
}

.order1 img {
    width: 30%;
}

.order1-description, .order2-description {
    display: flex;
    flex-direction: column;
    justify-content: center;   
}

.order1-description .container, .order2-description .container {
    height: 200px;
    background-color: var(--orange);
    display: flex;
    flex-direction: column;
    justify-content: center;  
    padding: 20px; 
    border-radius: 10px;
}

.order1-description h4, .order2-description h4 {
    font-size: 2rem;
    color: var(--white);
}

.order1-description p, .order2-description p {
    font-size: 1.3rem;
    padding-bottom: 15px;
}

.order1-price, .order2-price {
    display: flex;
    gap: 10px;
}

.order1-price span, .order2-price span {
    font-size: 2rem;
    font-weight: 900;
}

.order1-price .icon, .order2-price .icon {
    width: 20%;
    border-radius: 5px;
    background-color: var(--black);
    display: flex;
    align-items: center;
    justify-content: center;
}

.order1-price .icon i, .order2-price .icon i {
    font-size: 1.5rem;
    color: var(--orange);
}

.order2 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-top: 50px;
    gap: 20px;
    padding: 50px;
    border-radius: 10px;
    border: 2px solid var(--black);
    margin-top: 50px;
    width: 60%;
}

.order2 img {
    width: 50%;
}

.section4-combo {
    padding: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section4-combo h2 {
    font-size: 2.8rem;
    text-align: center;
}

.section4-combo .highlight {
    color: var(--cream);
}

.combo-img-container {
    width: 60%;
    margin-top: 40px;
}

.combo-img-container img {
    width: 100%;
}

.product-description {
    display: flex;
    gap: 3px;
}

.product-description .title {
    padding: 20px;
    background-color: var(--cream);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.product-description .title .highlight {
    color: var(--black);
    font-weight: 900;
    font-size: 1.4rem;
}

.product-description .price {
    padding: 20px;
    background-color: var(--black);
    color: var(--orange);
    font-size: 2rem;
    font-weight: 900;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

@media (max-width: 1220px) {
    .section1-home, .section2-aboutus {
        padding: 100px;
    }

    .section1-home .left .title {
        font-size: 3.5rem;
        padding-bottom: 13px;
    }

    .section1-home .left p {
        font-size: 1.1rem;
        padding-bottom: 25px;
    }
}

@media (max-width: 1040px) {
    .section1-home {
        padding: 90px;
    }

    .section1-home .left .title {
        font-size: 3.2rem;
    }
}

@media (max-width: 1000px) {
    .nav2-items {
        display: none;
    }
    .menu-icon {
        display: block;
        font-weight: 800;
        font-size: 1.7rem;
    }

    .section1-home {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section1-home .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }

    .section1-home .left .title {
        font-size: 7vw;
    }

    .section1-home .left p {
        font-size: 1rem;
        padding-bottom: 25px;
    }

    .expolre-btn {
        padding: 20px;
    }

    .section1-home .right {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .section1-home .right img {
        height: 80%;
        width: 80%;
    }

    .section2-aboutus {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .section2-aboutus .left {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }

    .section2-aboutus .left img {
        width: 85%;
        height: 85%;
    }

    .section2-aboutus .right {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 50px;
    }

    .section2-aboutus .right p {
        padding-bottom: 20px;
    }

    .order-btn {
        padding: 20px;
    }
}

@media (max-width: 805px) {
    nav .header {
        padding: 10px 40px 10px 30px;
    }

    .menu-icon {
        font-size: 1.8rem;
    }

    .section1-home .left {
        padding: 20px;
        text-align: center;
    }

    .section2-aboutus .right {
        padding: 20px;
        text-align: center;
    }
}

@media (max-width: 700px) {
    .section1-home, .section2-aboutus {
        padding: 70px;
    }

    .section1-home .left .title {
        font-size: 10vw;
    }

    .section1-home .left p {
        font-size: 0.9rem;
        padding-bottom: 17px;
    }

    .expolre-btn, .order-btn {
        padding: 17px;
    }

    .section1-home .right img {
        height: 90%;
        width: 90%;
    }

    .section1-home .right, .section2-aboutus .left {
        padding-bottom: 120px;
    }

    .section2-aboutus .left img {
        height: 90%;
        width: 90%;
    }

    .section2-aboutus .right h3 {
        font-size: 4.5vw;
    }

    .section2-aboutus .right h2 {
        font-size: 7vw;
        padding-bottom: 10px;
    }

    .section2-aboutus .right p {
        font-size: 0.85rem;
        padding-bottom: 15px;
    }
}

@media (max-width: 600px) {
    main {
        padding-top: 50px;
    }

    .section1-home, .section2-aboutus {
        padding: 20px;
        padding-bottom: 70px;
    }

    .section1-home .left .title {
        font-size: 13vw;
    }

    .section1-home .left p {
        font-size: 0.85rem;
    }

    .expolre-btn, .order-btn {
        padding: 15px;
    }

    .section2-aboutus .right h3 {
        font-size: 1.4rem;
    }

    .section2-aboutus .right h2 {
        font-size: 10vw;
    }
}
